body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/*
.scroll-content {
    background: url('http://p1.pichost.me/160x160/46/1697848.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.list {
opacity: 0.9;
}
*/

/* google places */
.pac-container {
    pointer-events: auto;
}

/* bobby box */
.selected .item-content, .selected {
    background-color: #f8f8f8;
}

/* side menu style */
.avatar {
    min-height: 35px;
    padding-left: 58px;
}

.avatar {
    /*    top: 4px; */
    max-width: 35px;
    max-height: 35px;
}

ion-side-menu.menu-left.menu {
    background-color: rgb(48, 144, 223);
    background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0), rgb(48, 144, 223)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(255, 0, 0, 0), rgb(48, 144, 223)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(255, 0, 0, 0), rgb(48, 144, 223)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(48, 144, 223)); /* Standard syntax (must be last) */
}

ion-side-menu .item, ion-side-menu .item-content, ion-side-menu .item-complex, ion-side-menu .item-radio {
    background-color: rgb(48, 144, 223);
    color: white !important;
    border-color: #7AA1C5;
    background: none;
}

ion-side-menu .item > .item-content, ion-side-menu .item > .item-complex, ion-side-menu .item > .item-radio {
    background-color: rgb(48, 144, 223);
    color: white !important;
    border-color: #7AA1C5;
    background: none;
}

ion-side-menu .item > .item-content.activated {
    background-color: #1284EE;
    color: white !important;
    border-color: #7AA1C5;
    background: none;
}

ion-side-menu .item.activated {
    background-color: #1284EE;
    color: white !important;
    border-color: #7AA1C5;
    background: none;
}

/* google map full and detail */
.detail > .angular-google-map > .angular-google-map-container {
    height: 205px;
    width: 100%;
}

.full > .angular-google-map > .angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.map > .scroll {
    height: 100%;
}

.map.scroll-content {
    z-index: 1;
    top: 0 !important;
    bottom: 0 !important;
}

.labelMarker {
    color: white;
    font-size: 12px;
    background-color: black;
    background-size: 100% 100%;
    opacity: 0.5;
    margin: 15px 0px 0px 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    /*cursor: none;*/
}

.map.bar.bar-dark {
    border-style: hidden;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/*
.labelMarker{
    height: 50px;
    width: 200px;
    margin-left: -100px;
    background-size: 100% 100%;
    opacity: 0.8;
    display: -webkit-box;
    cursor: pointer !important;
}

.infobox .content{
    margin: 15px 0px 0px 12px;
    color: white;
    font-size: 12px;
    width: 75%;
}
*/
/* end google map full and detail */

/* trigger fired - Color reading*/
.critical {
    color: red;
}

/* trigger fired */

.bobby-logo {
    width: 100px;
    height: 14px;
    background: url('./images/bobby.png') no-repeat transparent;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .bobby-logo {
        background: url('./images/bobby@2x.png') no-repeat transparent;
        background-size: 100px 14px;
    }
}

/* ios fadebar on menu selection */
.fade-bar {
    height: 20px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    opacity: 0;
    background-color: rgb(68, 68, 68);
}

/*  swipe cards */

.swipe-cards {
    position: fixed;
}

.swipe-card {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    display: none;
    position: fixed;
    -webkit-transform: scale(1, 1);
    left: 50%;
    top: 50%;
    width: 250px;
    height: 300px;
    margin-left: -120px;
    margin-top: -150px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    overflow: hidden;
    -webkit-animation-fill-mode: forwards;
}

.swipe-card .title {
    height: 40px;
    padding: 5px;
    line-height: 30px;
    color: #444;
}

.swipe-card .info {
    overflow: hidden;
    max-height: 210px;
}

.swipe-card .image {
    overflow: hidden;
    height: 110px;
}

.swipe-card .image img {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: scale(0, 0);
    }
    70% {
        -webkit-transform: scale(1.2, 1.2);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

.swipe-card.pop-in-start {
    -webkit-transform: scale(0, 0);
}

.swipe-card.pop-in {
    -webkit-animation: bounceIn 0.3s ease-out;
}


