body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/* google places */
.pac-container {
    pointer-events: auto;
}

/* google map full and detail */
.detail > .angular-google-map > .angular-google-map-container {
    height: 205px;
    width: 360px;
}

.full > .angular-google-map > .angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.map > .scroll {
    height: 100%;
}

.map.bar.bar-clear .button {
    color: #444;
}

.map.scroll-content {
    top: 0 !important;
    bottom: 0 !important;
}

/* end google map full and detail */

/* trigger fired - Color reading*/
.critical {
    color: red;
}

/* trigger fired */

.bobby-logo {
    width: 100px;
    height: 14px;
    background: url('./images/bobby.png') no-repeat transparent;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .bobby-logo {
        background: url('./images/bobby@2x.png') no-repeat transparent;
        background-size: 100px 14px;
    }
}

/* ios fadebar on menu selection */
.fade-bar {
    height: 20px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    opacity: 0;
    background-color: rgb(68, 68, 68);
}



