<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>"Bobby Xively"</title>

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- custom vendor CSS -->
    <!-- <link rel="stylesheet" href="styles/some.contrib.css"> -->
    <!-- end custom vendor CSS -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="vendor/app.css">
</head>

<body ng-app="XivelyApp" animation="slide-left-right-ios7">

<ion-nav-bar class="nav-title-slide-ios7 bar-light">
</ion-nav-bar>

<ion-nav-view></ion-nav-view>

<script id="intro.html" type="text/ng-template">
    <ion-view id="intro">
        <ion-pane>
            <ion-nav-buttons side="left">
                <button class="button button-positive button-clear no-animation"
                        ng-click="startApp()" ng-if="!slideIndex">
                    Skip Intro
                </button>
                <button class="button button-positive button-clear no-animation"
                        ng-click="previous()" ng-if="slideIndex > 0">
                    Previous Slide
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-positive button-clear no-animation"
                        ng-click="next()" ng-if="slideIndex != 2">
                    Next
                </button>
                <button class="button button-positive button-clear no-animation"
                        ng-click="startApp()" ng-if="slideIndex == 2">
                    Start using MyApp
                </button>
            </ion-nav-buttons>
            <ion-slide-box show-pager="true" on-slide-changed="slideChanged(index)">
                <ion-slide>
                    <h3>Thank you for choosing the Awesome App!</h3>

                    <div id="logo">
                        <img src="http://code.ionicframework.com/assets/img/app_icon.png">
                    </div>
                    <p>
                        We've worked super hard to make you happy.
                    </p>

                    <p>
                        But if you are angry, too bad.
                    </p>
                </ion-slide>
                <ion-slide>
                    <h3>Using Awesome</h3>

                    <div id="list">
                        <h5>Just three steps:</h5>
                        <ol>
                            <li>Be awesome</li>
                            <li>Stay awesome</li>
                            <li>There is no step 3</li>
                        </ol>
                    </div>
                </ion-slide>
                <ion-slide>
                    <h3>Any questions?</h3>

                    <p>
                        Too bad!
                    </p>
                </ion-slide>
            </ion-slide-box>
        </ion-pane>
    </ion-view>
</script>

<script id="main.html" type="text/ng-template">
    <ion-view hide-nav-bar="true">
        <ion-pane id="wrapper">
            <background-cycler class="bg-fade"></background-cycler>

            <header ng-cloak id="header" class="bar bar-header bar-clear">
                <h1 class="title">
                <span class="city">
                    <i id="city-nav-icon" class="icon ion-navigate"></i>{{currentCity}}</span><br>
                    <current-time></current-time>
                </h1>
                <button ng-click="showSettings()" class="button button-icon"><i class="icon ion-gear-a"></i></button>
            </header>

            <ion-content delegate-handle="details"
                         scroll-event-interval="20"
                         overflow-scroll="false"
                         scrollbar-y="false">
                <ion-refresher on-refresh="refreshData(false)">
                </ion-refresher>
                <div id="main-content" ng-hide="current == null">
                    <current-weather orientation-change></current-weather>
                    <forecast ng-hide="viewXively"></forecast>
                    <xively ng-show="viewXively"></xively>
                </div>
            </ion-content>
        </ion-pane>
    </ion-view>
</script>

<script id="settings.html" type="text/ng-template">
    <div id="settings-modal" class="modal" ng-controller="SettingsCtrl">
        <ion-header-bar class="bar bar-header bar-dark">
            <div class="buttons">
                <button class="button button-clear button-primary" ng-click="modal.hide();intro()">Intro</button>
            </div>
            <h1 class="title">Settings</h1>

            <div class="buttons">
                <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="padding">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Units</span>
                        <ion-radio-buttons ng-model="settings.tempUnits">
                            <ion-button-radio class="button button-small button-positive ion-button-radio"
                                              ng-model="settings.tempUnits" name="tempUnits" ng-value="'f'">&deg;F
                            </ion-button-radio>
                            <ion-button-radio class="button button-small button-positive ion-button-radio"
                                              ng-model="settings.tempUnits" name="tempUnits" ng-value="'c'">&deg;C
                            </ion-button-radio>
                        </ion-radio-buttons>
                    </label>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Xively key</span>
                        <input ng-model="settings.keyXively" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Xively feed</span>
                        <input ng-model="settings.feedXively" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">
                        <button class="button button-small button-positive ion-button" ng-click="scan()">Scan Device
                        </button>
                        </span>
                        <input type="text" placeholder="Serial number ..." ng-model="settings.deviceId">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Background  </span>
                        <ion-checkbox ng-model="settings.useFlickr">
                        </ion-checkbox>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Device Location</span>
                        <ion-checkbox ng-model="settings.useDeviceLoc">
                        </ion-checkbox>
                    </label>
                </div>
            </div>
        </ion-content>
    </div>
</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/ionic/release/js/ionic.js"></script>
<script src="bower_components/ionic/release/js/ionic-angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/globalize/lib/globalize.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/momentjs/moment.js"></script>
<!-- endbower -->
<script src="vendor/dx.chartjs.js"></script>
<script src="vendor/xivelyjs-1.0.4.js"></script>
<!-- endbuild -->

<!-- custom vendor folder JS -->

<!-- end custom vendor JS -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/directives.js"></script>
<script src="scripts/filters.js"></script>
<!-- endbuild -->

</body>
</html>
