<ion-list>
    <ion-item ng-repeat="device in installation.devices"
              ui-sref="app.device({ id: installation._id, deviceid: device._id })">
        <h3>{{::device.name}} {{::device.placement}}</h3>
        <h4>{{::device.id}}</h4>
        <span class="badge badge-balanced">0</span>
        <ion-option-button class="button-calm" ng-click="activate(device)">Activate
        </ion-option-button>
        <ion-option-button class="button-balanced" ng-click="copy(device)">Copy</ion-option-button>
        <ion-option-button class="button-positive" ng-click="edit(device)">Edit</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="remove(device)">Delete
        </ion-option-button>
    </ion-item>
</ion-list>
