<div id="forecast" class="weather-box">
    <ion-list>
        <div ng-repeat="device in installation.devices">
            <div class="row">
                <div class="col">
                    <label>{{device.name}}</label>
                </div>
                <div class="col-icon col">
                    <i class="col-icon-font icon ion-cube"
                       ng-click="toggleDevice(device.id)"
                       ng-style="device.id == activeStream.deviceid && {'color': '#4a87ee'} || {'color': 'white'}">
                    </i>
                </div>
                <div class="col">
                    <i class="col-icon-font icon ion-wifi"
                       ng-click="showData(device.id, 'online')"
                       ng-style="datastreams[device.id + 'online'].id == 'online' && datastreams[device.id + 'online'].current_value == '0' && {'color': 'rgb(216, 90, 95)'} || {'color': 'rgb(113, 221, 71)'}">
                    </i>
                </div>
            </div>
            <div class="row item-accordion" style="margin-top: 0"
                 ng-repeat="readings in datastreams | datastreamFilter:device.id | filter:{ id: '!online' }| orderObjectBy:'name':'reverse'"
                 ng-show="isDeviceShown(device.id)">
                <div class="col">
                    <label>{{readings.name}}</label>
                </div>
                <div class="col-icon col">
                    <i class="col-icon-font icon ion-ios7-gear"
                       ng-hide="readings.ctrlType == 'data' && (readings.id != activeStream.id || readings.deviceid != activeStream.deviceid || !showChart)"
                       style="color: #4a87ee">
                    </i>
                    <i class="col-icon-font icon ion-arrow-graph-up-right"
                       ng-show="readings.ctrlType == 'data' && (readings.id != activeStream.id || readings.deviceid != activeStream.deviceid || !showChart)"
                       ng-click="showData(readings.deviceid, readings.id)"
                       ng-style="readings.id == activeStream.id && readings.deviceid == activeStream.deviceid && {'color': '#4a87ee'} || {'color': 'white'}">
                    </i>
                </div>
                <div class="col">
                    <div ng-show="readings.ctrlType == 'data' && isDeviceShown(device.id)">
                        <div ng-class="{ critical: readings.triggered}">
                            <span class="temp-high">{{readings.current_value}}{{readings.unit.symbol}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-list>

    <div ng-show="activeStream" style="padding-top: 10px;">
        <h4 class="title">
            <div class="row" style="border-bottom: 0px">
                <div class="col col-50">
                    {{datastreams[activeStream.deviceid + activeStream.id].name}}
                    {{datastreams[activeStream.deviceid +
                    activeStream.id].current_value}}{{datastreams[activeStream.deviceid + activeStream.id].unit.symbol}}
                </div>
                <div class="col ui-select">
                    <div class="custom-select-container">
                        <select class="custom replaced"
                                ng-options="t.text group by t.type for t in timescale"
                                ng-model="timeScale"
                                ng-change="selectAction(timeScale, activeStream.deviceid, activeStream.id)">
                        </select>
                        <span class="custom-select" aria-hidden="true">
                               <span>{{timeScale.text}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </h4>
    </div>

    <div id="chartContainer" style="height: 200px"
         dx-chart="{bindingOptions: {dataSource: 'chartSettings.dataSource',
                                         argumentAxis: 'chartSettings.argumentAxis',
                                         series: 'chartSettings.series'
                                        },
                                         valueAxis: chartSettings.valueAxis,
                                         legend: chartSettings.legend,
                                         tooltip: chartSettings.tooltip,
                                         crosshair: chartSettings.crosshair,
                                         loadingIndicator: chartSettings.loadingIndicator
                        }"
         ng-show="chartSettings.dataSource.length">
    </div>

    <div class="clearfix">
        <a href="http://bobbytechnologies.dk" onClick="javascript:return openExternal(this)">
            <div class="bobby-logo"></div>
        </a>
    </div>

</div>