<ion-view>

  <ion-nav-bar class="bar-shrink bar-stable">
    <div class="buttons left-buttons">
      <button menu-toggle="left" ng-hide="$exposeAside.active"
              class="button button-icon button-clear button-dark ion-navicon">
      </button>
      <button ui-sref="app.map()" class="button  button-icon button-clear button-dark ion-android-earth">
      </button>
    </div>
    <h1 class="title nav-title-slide-ios7">{{installation.name}} {{installation.placement}}</h1>

    <div class="buttons right-buttons">
      <button ng-click="aNewDevice()" class="button button-icon button-clear button-dark ion-ios7-plus-empty"></button>
    </div>

  </ion-nav-bar>

  <ion-content header-shrink scroll-event-interval="5">
    <div ng-style="isWebView && {'height': '64px'} || {'height': '44px'}"></div>
    <!---- device overview -->
    <div class="row responsive-sm" style="padding: 0px;border-bottom: 1px;border-style: ridge;">
      <div class="col-50" style="padding: 0px; background-position-x: 50%; background-position-y: 50%;
            background-image: url('http://maps.googleapis.com/maps/api/staticmap?center={{installation.location.lat}},{{installation.location.lng}}&zoom=10&size=840x205&maptype=roadmap&format=png32&markers=color:red%7C{{installation.location.lat}},{{installation.location.lng}}')">
        <img style="max-width: 100%; opacity: 0;"
             ng-src='http://maps.googleapis.com/maps/api/staticmap?center={{installation.location.lat}},{{installation.location.lng}}&zoom=10&size=840x205&maptype=roadmap&format=png32&markers=color:red%7C{{installation.location.lat}},{{installation.location.lng}}'/>
      </div>

      <div class="col-50" style="padding: 0px;">
        <ion-list style="padding-bottom: 10px;">
          <ion-item style="border-style:none; padding: 6px;">
            <a style="font-size: 85%;" class="item-icon-left">
              <i class="icon ion-ios7-person"></i>
              {{installation.contact.name}}
            </a>
          </ion-item>
          <ion-item style="border-style:none;  padding: 6px;"
                    ng-click="navigateTo( '{{installation.location.lat}}' , '{{ installation.location.lng}}' )">
            <a style="font-size: 85%;" class="item-icon-left">
              <i style="font-size: 24px;" class="icon ion-location"></i>
              {{installation.address}}
            </a>
          </ion-item>
          <ion-item style="border-style:none;  padding: 6px;"
                    ng-click="phoneTo('{{installation.contact.phone}}')">
            <a style="font-size: 85%;" class="item-icon-left">
              <i style="font-size: 24px;" class="icon ion-iphone"></i>
              {{installation.contact.phone}}
            </a>
          </ion-item>
          <ion-item style="border-style:none;  padding: 6px;"
                    ng-click="emailTo('{{installation.contact.email}}')">
            <a style="font-size: 85%;" class="item-icon-left">
              <i style="font-size: 16px;" class="icon ion-android-mail"></i>
              {{installation.contact.email}}
            </a>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <ion-list>
      <ion-item class="reading item-icon-right"
                ng-click="toggleTimeline()"
                style="border-width: 0px;padding-top: 8px;padding-bottom: 8px;">
        <label>
          <i class="item-icon ion-chatbox-working"
             style="color: rgb(82, 154, 233); vertical-align: middle;font-size: 140%;">
          </i>
          Activities
        </label>
        <span class="badge badge-balanced" style="right: 36px;">2</span>
      </ion-item>
    </ion-list>
    <!-----   soicail IOT ----->
    <div ng-if="showTimeline" class="reveal-animation">
      <bobby-social></bobby-social>
    </div>

    <!---- device overview -->
    <bobby-device></bobby-device>


    <!---- device setup ontrollers -->
    <bobby-setup></bobby-setup>

  </ion-content>

</ion-view>
