<ion-view title="">

    <ion-nav-bar class="nav-title-slide-ios7 bar-clear">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" ng-hide="$exposeAside.active"
                    class="button button-icon button-clear button-dark ion-navicon">
            </button>
            <button ui-sref="app.map()" class="button  button-icon button-clear button-dark ion-android-earth">
                &nbsp;{{installation.name}} {{installation.placement}}
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button ng-click="aNewDevice()" class="button icon ion-ios7-plus-empty button-clear button-dark"></button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content>
        <!---- device overview -->
        <div class="row responsive-sm" style="padding: 0px;border-bottom: 1px;border-style: ridge;">
            <div class="col" style="padding: 0px;">
                <google-map class="feed"
                            data-tap-disabled="true"
                            center="map.center"
                            zoom="map.zoom"
                            options="map.options"
                            draggable="false"
                            control="map.control">
                    <marker coords="map.marker" idkey="map.marker.id" icon="map.marker.icon">
                    </marker>
                </google-map>
            </div>

            <div class="col" style="padding: 0px;">
                <ion-list style="padding-bottom: 10px;">
                    <ion-item style="border-style:none; padding: 6px;">
                        <a style="font-size: 85%;" class="item-icon-left">
                            <i class="icon ion-ios7-person"></i>
                            {{installation.contact.name}}
                        </a>
                    </ion-item>
                    <ion-item style="border-style:none;  padding: 6px;"
                              ng-click="navigateTo( '{{installation.location.lat}}' , '{{ installation.location.lng}}' )">
                        <a style="font-size: 85%;" class="item-icon-left">
                            <i style="font-size: 24px;" class="icon ion-location"></i>
                            {{installation.address}}
                        </a>
                    </ion-item>
                    <ion-item style="border-style:none;  padding: 6px;"
                              ng-click="phoneTo('{{installation.contact.phone}}')">
                        <a class=" item-icon-left">
                            <i style="font-size: 24px;" class="icon ion-iphone"></i>
                            {{installation.contact.phone}}
                        </a>
                    </ion-item>
                    <ion-item style="border-style:none;  padding: 6px;"
                              ng-click="emailTo('{{installation.contact.email}}')">
                        <a style="font-size: 85%;" class="item-icon-left">
                            <i style="font-size: 16px;" class="icon ion-android-mail"></i>
                            {{installation.contact.email}}
                        </a>
                    </ion-item>
                </ion-list>
            </div>
        </div>

        <!---- device overview -->
        <bobby-device></bobby-device>

        <bobby-setup></bobby-setup>

        <!-----   soicail IOT ----->
        <bobby-social></bobby-social>

    </ion-content>
</ion-view>