<ion-list>

    <div flex-container="row" flex-gutter="0" class="mt+">

        <div ng-repeat="device in installation.devices">

            <div>
                <ul class="list">

                    <li class="m0 list-row list-row--is-clickable list-row--has-separator"
                        ng-click="toggleDevice(device.id)">

                        <div class="list-row__primary">
                            <button class="btn btn--m btn--blue btn--icon" lx-ripple>
                                <i class="mdi ion-cube"
                                   ng-style="datastreams[device.id + 'online'].id == 'online' && datastreams[device.id + 'online'].current_value == '0' && {'color': 'rgb(253, 57, 80)'} || {'color': 'rgb(129, 207, 98)'}">
                                </i>
                            </button>
                        </div>

                        <div class="list-row__content">
                            <span class="display-block">{{::device.name}}</span>
                            <span class="display-block fs-body-1 tc-black-2">{{::device.placement}}</span>
                        </div>

                        <div class="list-row__secondary" style="width: 64px;">

                            <lx-dropdown position="right" from-top="true">
                                <button class="btn btn--m btn--black btn--icon" lx-ripple lx-dropdown-toggle
                                        lx-tooltip="Device setup" tooltip-position="left">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </button>
                                <lx-dropdown-menu class="mt++">
                                    <ul>
                                        <li>
                                            <a class="dropdown-link" ng-click="aRemoveDevice(device.id)">Remove
                                                device</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-link" ng-click="aEditDevice(device.id)">Edit device</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-link" ng-click="aNewControl(device.id)">Add control</a>
                                        </li>
                                    </ul>
                                </lx-dropdown-menu>
                            </lx-dropdown>
                        </div>
                    </li>

                    <li class="m0 fx-fade-left fx-speed-500 list-row list-row--is-clickable list-row--has-separator"
                        ng-repeat="readings in datastreams | datastreamFilter:device.id | filter:{ id: '!online' }"
                        ng-click="showData(readings.deviceid, readings.id, readings.ctrlType)"
                        ng-if="readings.ctrlType == 'data' && (isDeviceShown(device.id) || readings.color)">

                        <div class="list-row__primary" style="padding-left: 50px">
                            <button class="btn btn--m btn--black btn--icon">
                                <i class="mdi icon icon--l mdi-history"
                                   ng-style="readings.color  && {'color': readings.color, 'opacity': 0.9}">
                                </i>
                            </button>
                        </div>

                        <div class="list-row__content" style="padding-left: 30px">
                            <span class="display-block">{{::readings.name}}</span>
                            <span class="display-block fs-body-1 tc-black-2">{{readings.current_value}} {{::readings.unit.symbol}}{{::readings.unit.units}}</span>
                        </div>

                        <div class="list-row__secondary" style="width: 64px;">
                            <lx-dropdown position="right" from-top="true">
                                <button class="btn btn--m btn--black btn--icon" lx-ripple lx-dropdown-toggle
                                        lx-tooltip="Control setup" tooltip-position="left">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </button>
                                <lx-dropdown-menu class="mt++">
                                    <ul>
                                        <li><a class="dropdown-link"
                                               ng-click="aRemoveControl(device.id, readings.id)">Remove</a>
                                        </li>
                                        <li><a class="dropdown-link"
                                               ng-click="aEditControl(device.id, readings.id)">Edit</a>
                                        </li>
                                    </ul>
                                </lx-dropdown-menu>
                            </lx-dropdown>
                        </div>
                    </li>

                    <li class="m0 fx-fade-left fx-speed-500 list-row list-row--is-clickable list-row--has-separator"
                        ng-repeat="readings in datastreams | datastreamFilter:device.id | filter:{ id: '!online' }"
                        ng-click="showData(readings.deviceid, readings.id, readings.ctrlType)"
                        ng-if="readings.ctrlType == 'timer' && (isDeviceShown(device.id) || readings.color)">


                        <div ng-hide="showTimerCtrl && readings.id == currentControlId" class="list-row__primary"
                             style="padding-left: 50px">
                            <button ng-if="readings.current_value == 0" class="btn btn--m btn--black btn--icon"
                                    lx-ripple>
                                <i class="mdi icon icon--l mdi-camera-timer"
                                   ng-style="readings.color  && {'color': readings.color, 'opacity': 0.9}">
                                </i>
                            </button>

                            <button ng-if="readings.current_value == 1" class="btn btn--m btn--black btn--icon"
                                    lx-ripple>
                                <i style="color: rgb(129, 207, 98); font-size: 75%;"
                                   class="mdi icon fa fa-circle-o-notch fa-spin">
                                </i>

                            </button>

                        </div>

                        <div ng-hide="showTimerCtrl && readings.id == currentControlId" class="list-row__content"
                             style="padding-left: 30px">
                            <span>{{::readings.name}}</span>
                        </div>

                        <div ng-hide="showTimerCtrl && readings.id == currentControlId" class="list-row__secondary"
                             style="width: 64px;">
                            <lx-dropdown position="right" from-top="true">
                                <button class="btn btn--m btn--black btn--icon" lx-ripple lx-dropdown-toggle
                                        lx-tooltip="Control setup" tooltip-position="left">
                                    <i class="mdi mdi-dots-vertical">
                                    </i>
                                </button>
                                <lx-dropdown-menu class="mt++">
                                    <ul>
                                        <li><a class="dropdown-link"
                                               ng-click="startTimer($event, device.id, readings.id)">Control</a>
                                        </li>
                                        <li><a class="dropdown-link"
                                               ng-click="aRemoveControl(device.id, readings.id)">Remove</a>
                                        </li>
                                        <li><a class="dropdown-link"
                                               ng-click="aEditControl(device.id, readings.id)">Edit</a>
                                        </li>
                                    </ul>
                                </lx-dropdown-menu>
                            </lx-dropdown>
                        </div>

                        <div ng-show="showTimerCtrl && readings.id == currentControlId" class="list-row__primary">
                        </div>

                        <div ng-show="showTimerCtrl && readings.id == currentControlId" class="list-row__content"
                             style="padding-top: 0px;padding-bottom: 0px;">
                            <div class="range range-positive" style="padding-right: 0px;padding-left:0px">
                                <span class="display-block fs-body-1 tc-black-2">{{controlTimer.duration}}</span>
                                <input style="margin-top: 0px;margin-bottom: 0px;margin-right: 0px;"
                                       type="range"
                                       name="volume"
                                       min="0" max="180" step="5"
                                       ng-model="controlTimer.duration">
                                <button class="btn btn--l btn--black btn--icon" lx-ripple
                                        ng-click="cancelTimer(); $event.preventDefault(); $event.stopPropagation();">
                                    <i class="mdi icon icon--l ion-ios-close-empty">
                                    </i>
                                </button>
                            </div>
                        </div>

                        <div ng-show="showTimerCtrl && readings.id == currentControlId" class="list-row__secondary"
                             style="width: 64px;">
                            <button class="btn btn--m btn--black btn--icon" lx-ripple
                                    ng-click="setTimer(controlTimer); $event.preventDefault(); $event.stopPropagation();">
                                <i class="mdi icon icon--m mdi-check">
                                </i>
                            </button>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>


    <ion-item class="boxit fx-zoom-down fx-speed-800"
              ng-if="showChart"
              style="border-width: 0px; padding: 10px">

        <span style="position: absolute; left: 54px; font-weight: normal; font-size: 14px; line-height: 1.52857;">{{selectedScale.text}}</span>

        <i style="padding-left: 22px;"
           class="icon ion-ios-clock-outline">
            <select style="background:none;opacity:0"
                    ng-options="t.text group by t.type for t in timeScales"
                    ng-model="selectedScale"
                    ng-change="selectAction(selectedScale)">
            </select>
        </i>

        <div id="chartContainer" style="height: 300px"
             dx-chart="{bindingOptions: {dataSource: 'chartSettings.dataSource',
                              argumentAxis: 'chartSettings.argumentAxis',
                              seriesTemplate: 'chartSettings.seriesTemplate',
                              valueAxis: 'chartSettings.valueAxis'},
                               commonSeriesSettings: chartSettings.commonSeriesSettings,
                               legend: chartSettings.legend,
                               tooltip: chartSettings.tooltip,
                               crosshair: chartSettings.crosshair,
                               palette: chartSettings.palette,
                               commonAxisSettings: chartSettings.commonAxisSettings,
                               animation: chartSettings.animation,
                               seriesSelectionMode: chartSettings.seriesSelectionMode,
                               scrollingMode: chartSettings.scrollingMode,
                               zoomingMode: chartSettings.zoomingMode,
                               adjustOnZoom: chartSettings.adjustOnZoom
              }">
        </div>

        <div id="rangeSelectorContainer"
             dx-range-selector="{ bindingOptions: { dataSource: 'rangeSettings.dataSource',
                                                    scale: 'rangeSettings.scale'},
                                   dataSourceField: rangeSettings.dataSourceField,
                                   chart: rangeSettings.chart,
                                   behavior: rangeSettings.behavior,
                                   margin: rangeSettings.margin,
                                   sliderMarker: rangeSettings.sliderMarker,
                                   selectedRangeChanged: rangeSettings.selectedRangeChanged
                                    }">

        </div>
    </ion-item>
</ion-list>
