<ion-view title="{{control.name}} - id {{control.id}}">


    <ion-nav-bar class="nav-title-slide-ios7 bar-light">

        <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content>

            <div class="col">
                <div style="height: 200px"
                ng-show="control.ctrlType=='data' && control.maxCritical > 0" class="row responsive-sm"
                dx-circular-gauge="{tooltip: gaugeSettings.tooltip,
                                                               subvalueIndicator: gaugeSettings.subvalueIndicator,
                                                               bindingOptions: {scale: 'gaugeSettings.scale',
                                                                       value: 'gaugeSettings.value',
                                                                       rangeContainer: 'gaugeSettings.rangeContainer',
                                                                       subvalues : 'gaugeSettings.subvalues'}
                                                                       }">

                </div>
            </div>


        <div class="list">
            <a class="item">
                Id
                <span class="item-note">
                   {{control.id}}
                </span>
            </a>
            <a class="item">
                Name
                <span class="item-note">
                   {{control.name}}
                </span>
            </a>
            <a class="item">
                Type
                <span class="item-note">
                   {{control.ctrlType}}
                </span>
            </a>
            <a class="item">
                Min value
                <span class="item-note">
                   {{control.minValue}}
                </span>
            </a>
            <a class="item">
                Max value
                <span class="item-note">
                   {{control.maxValue}}
                </span>
            </a>
            <a class="item">
                Min critical
                <span class="item-note">
                   {{control.minCritical}}
                </span>
            </a>
            <a class="item">
                Max critical
                <span class="item-note">
                   {{control.maxCritical}}
                </span>
            </a>

            <div class="item item-divider">
                Unit
            </div>

            <a class="item">
                Symbol
                <span class="item-note">
                    {{control.unit.symbol}}
                </span>
            </a>
            <a class="item">
                Units
                <span class="item-note">
                    {{control.unit.units}}
                </span>
            </a>
            <a class="item">
                Precision
                <span class="item-note">
                    {{control.unit.precision}}
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>