<div id="weather-box col current-device">
    <div class="ui-device-select">
        <div class="custom-select-container">
            <select class="custom replaced"
                    ng-options="t.placement group by t.name for t in $root.installations"
                    ng-model="installation"
                    ng-change="selectDevice(installation)">
            </select>
        <span class="device-select" aria-hidden="true">
            <span>{{installation.name}} {{installation.placement}}</span>
        </span>
        </div>
    </div>
</div>

