<div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-clear" ng-click="closeEdit()">Cancel</button>
        <h1 class="title">Edit control</h1>
        <button class="button button-clear button-clear" ng-click="doneEdit(trigger)">Save</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="trigger.name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Control</span>
                <input type="text" placeholder="Control" ng-model="trigger.stream_id">
            </label>
        </div>
    </ion-content>
</div>