<div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-clear" ng-click="closeEdit()">Cancel</button>
        <h1 class="title">Edit device</h1>
        <button class="button button-clear button-clear" ng-click="doneEdit(device)">Save</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="device.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Placement</span>
                <input type="text" placeholder="Placement" ng-model="device.placement">
            </label>
            <label class="item item-input">
                <span class="input-label">Id</span>
                <input type="text" placeholder="Id" ng-model="device.id">
            </label>
        </div>
    </ion-content>
</div>