<div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-clear" ng-click="closeNew()">Cancel</button>
        <h1 class="title">New trigger</h1>
        <button class="button button-clear button-clear" ng-click="doneNew(newTrigger)">Save</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="newTrigger.name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Control</span>
                <input type="text" placeholder="Control" ng-model="newTrigger.stream_id">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Threshold</span>
                <input type="text" placeholder="Threshold" ng-model="newTrigger.threshold_value">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Resolution</span>
                <input type="text" placeholder="Resolution" ng-model="newTrigger.resolution">
            </label>
        </div>
    </ion-content>
</div>
