<ion-view cache-view="true">

    <ion-content class="map" style="background: transparent;" has-bouncing="true" map-shrink>

        <div class="uimap">
            <ui-gmap-google-map class="fullmap"
                                center="map.center"
                                zoom="map.zoom"
                                draggable="true"
                                dragging="map.dragging"
                                bounds="map.bounds"
                                events="map.events"
                                options="map.options"
                                pan="true"
                                control="map.control"
                                data-tap-disabled="true"
                                ng-cloack>
                <ui-gmap-layer namespace="weather" type="WeatherLayer" show="map.showWeather"></ui-gmap-layer>

                <ui-gmap-markers
                    models="map.markers"
                    coords="'self'"
                    doCluster="true"
                    icon="'icon'"
                    click="'onClicked'"
                    options="'options'"
                    isLabel='true'
                    clusterOptions="map.clusterOptions">
                </ui-gmap-markers>

            </ui-gmap-google-map>
        </div>

        <installation-list>
        </installation-list>

    </ion-content>
</ion-view>
