<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive  bgc-indigo-500">

        <div class="buttons">

            <button class="button button-clear" ng-click="closeNewControl()">
                <i class="icon ion-ios-close-empty"></i>
            </button>
        </div>

        <h1 class="title">New control</h1>

        <div class="buttons">
            <button class="btn btn--l btn--icon"
                    ng-click="doneNewControl(newControl)">
                <i class="mdi mdi-plus"></i>
            </button>
        </div>

    </ion-header-bar>

    <ion-content class="bgc-grey-800">

        <form class="pl+ pr+">

            <lx-text-field label="Name" theme="dark">
                <input type="text" ng-model="newControl.name">
            </lx-text-field>

            <lx-text-field label="Id" theme="dark">
                <input type="text" ng-model="newControl.id">
            </lx-text-field>


            <div class="mt+++">
                <div flex-item>
                    <div class="radio-group tc-grey-600">
                        <div class="radio-button">
                            <input type="radio" id="radio1" name="radio1" value="moisture" class="radio-button__input"
                                   ng-model="newControl.unit.name">
                            <label for="radio1" class="radio-button__label">Moisture</label>
                        </div>

                        <div class="radio-button" theme="dark">
                            <input type="radio" id="radio2" name="radio1" value="raw" class="radio-button__input"
                                   ng-model="newControl.unit.name">
                            <label for="radio2" class="radio-button__label">Raw</label>
                        </div>

                    </div>
                </div>
            </div>

            <lx-text-field label="Minimum critical value" theme="dark">
                <input type="text" ng-model="newControl.minCritical">
            </lx-text-field>

            <lx-text-field label="Max critical value" theme="dark">
                <input type="text" ng-model="newControl.maxCritical">
            </lx-text-field>

        </form>
    </ion-content>
</ion-modal-view>
