<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear" ng-click="closeNew()">Cancel</button>
        <h1 class="title">New installation</h1>
        <button class="button button-clear"
                ng-disabled="!newInstValid()"
                ng-click="doneNew(newInst)">Save
        </button>
    </ion-header-bar>
    <ion-content class="bgc-grey-800">
        <!--div class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="newInst.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Placement</span>
                <input type="text" placeholder="Placement" ng-model="newInst.placement">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <google-places location="newInst.location" address="newInst.address"></google-places>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">GPS Location</span>
                <input type="text" placeholder="{{newInst.location.lat}} {{newInst.location.lng}}" readonly style="background-color: transparent;">
            </label>
            <label class="item item-input">
                <span class="input-label">Contact name</span>
                <input type="text" placeholder="Contact Name" ng-model="newInst.contact.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Contact email</span>
                <input type="text" placeholder="Contact email" ng-model="newInst.contact.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Contact phone</span>
                <input type="text" placeholder="Contact phone" ng-model="newInst.contact.phone">
            </label>
        </div-->
        <form class="pl+ pr+">
            <lx-text-field label="Name" theme="dark">
                <input type="text" ng-model="newInst.name">
            </lx-text-field>
            <lx-text-field label="Placement" theme="dark">
                <input type="text" ng-model="newInst.placement">
            </lx-text-field>
            <lx-text-field label="Address" theme="dark">
                <google-places location="newInst.location" address="newInst.address"></google-places>
            </lx-text-field>
            <!--lx-text-field label="GPS Location {{newInst.location.lat}}" theme="dark" disabled="true">
                <input type="text" ng-disabled="true">
            </lx-text-field-->
            <!--span class="fs-subhead display-block tc-white mt+">{{newInst.location.lat}} {{newInst.location.lng}}</span-->
            <lx-text-field class="mt++" label="Contact Name" fixed-label="true" icon="account" theme="dark">
                <input type="text" ng-model="newInst.contact.name">
            </lx-text-field>
            <lx-text-field label="Contact Email" fixed-label="true" icon="email" theme="dark">
                <input type="email" ng-model="newInst.contact.email">
            </lx-text-field>
            <lx-text-field label="Contact Phone" fixed-label="true"  icon="phone" theme="dark">
                <input type="text" ng-model="newInst.contact.phone">
            </lx-text-field>
        </form>
    </ion-content>
</ion-modal-view>
