<div ng-controller="InstallationsCtrl">

    <div class="data-table-container" style="background-color:white; position: absolute; overflow-x: visible;overflow-y: visible;">
        <table class="data-table data-table--has-primary data-table--has-secondary">
            <tbody>

            <tr>
                <div class="toolbar" style="position: relative; z-index:10; margin-top: -29px; padding-right: 10px;">

                    <div class="toolbar__left">
                        <div class="card bgc-indigo-500"
                             style="border-radius: 46px;margin: 0px 0px;padding-top: 0px; padding-bottom: 0px">
                            <lx-search-filter model="searchFilter" placeholder="Search" theme="dark" position="left" closed>
                            </lx-search-filter>
                        </div>
                    </div>


                    <span class="toolbar__label fs-title"></span>

                    <div class="toolbar__right">
                        <div class="fab">
                            <button class="fab__primary btn btn--xl btn--indigo btn--fab" lx-ripple>
                                <i class="mdi mdi-apps"></i>
                                <i class="mdi mdi-plus"></i>
                            </button>

                            <div class="fab__actions fab__actions--up">

                                <button class="btn btn--l btn--red btn--fab" lx-ripple lx-tooltip="Sign out"
                                        tooltip-position="left"
                                        ng-click="signout()">
                                    <i class="mdi ion-power"></i>
                                </button>
                                <button class="btn btn--l btn--grey btn--fab" lx-ripple lx-tooltip="Weather"
                                        tooltip-position="left"
                                        ng-class="map.showWeather ? 'btn--green' : 'btn--grey'"
                                        ng-click="toggleWeather()">
                                    <i class="mdi ion-cloud"></i>
                                </button>
                                <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="My location"
                                        tooltip-position="left"
                                        ng-click="myPosition()"><i class="mdi ion-android-locate"></i>
                                </button>
                                <button class="btn btn--l btn--blue btn--fab" lx-ripple lx-tooltip="New Installation"
                                        tooltip-position="left"
                                        ng-click="newInstallation()">
                                    <i class="mdi mdi-plus"></i>
                                </button>
                                <button class="btn btn--l btn--white btn--fab" lx-ripple lx-tooltip="Refresh"
                                        tooltip-position="left"
                                        ng-click="refresh()">
                                    <i class="mdi ion-refresh"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            </tr>

            <tr class="data-table__clickable-row"
                ng-repeat="i in installations | orderBy:'name' | filter: searchFilter"
                ng-click="selectInst(i._id)">
                <td style="padding-left: 18px; width: 70px;padding-right: 18px;">
                    <button class="btn btn--m btn--blue btn--icon" lx-ripple
                            ng-class="i.alarm ? 'btn--red' : 'btn--blue'">
                        <i class="mdi ion-cube"></i>
                    </button>
                </td>
                <td>
                    <span class="display-block">{{::i.name}}</span>
                    <span class="display-block fs-body-1 tc-black-2">{{::i.placement}}</span>

                </td>
                <td></td>
                <td></td>
                <td>
                    <lx-dropdown position="right" from-top>
                        <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle
                                lx-tooltip="Installation setup" tooltip-position="left">
                            <i class="mdi mdi-dots-vertical"></i>
                        </button>

                        <lx-dropdown-menu>
                            <ul>
                                <li><a class="dropdown-link" ng-click="remove(i)">Remove</a></li>
                                <li><a class="dropdown-link" ng-click="editInstallation(i)">Edit</a></li>
                            </ul>
                        </lx-dropdown-menu>
                    </lx-dropdown>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
