<ion-view title="Installations">
    <ion-nav-buttons side="right">
        <button ng-click="newInstallation()" class="button icon-left ion-ios7-plus-empty button-clear button-dark"></button>
    </ion-nav-buttons>
    <ion-content>
        <div id="search-box"  start-y="55" padding="false" class="item-input-inset">
            <div class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="data.searchQuery">
                <i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch()"></i>
            </div>
        </div>
        <ion-list>
            <ion-item ng-repeat="i in installations | filter: data.searchQuery" ui-sref="app.detail({ id: i._id })">
                <h3 style="color:black;">{{i.name}}</h3>
                <p>{{i.placement}}</p>
                <span class="badge badge-balanced">0</span>
                <ion-option-button class="button-balanced" ng-click="copyInstallation(i)">copy</ion-option-button>
                <ion-option-button class="button-positive" ng-click="editInstallation(i)">Edit</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="remove(i)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>