<ion-view title="{{installation.name}} {{installation.placement}}">
    <ion-nav-buttons side="right">
        <button ng-click="addDevice()" class="button icon-left ion-ios7-plus-empty button-clear button-dark"></button>
    </ion-nav-buttons>
    <ion-content>

        <div class="row responsive-sm" style="padding: 0px;">
            <div class="col" style="margin-bottom: -4px; padding: 0px;">
                <static-gmap ng-show="installation.location.lat"
                             size="360x205"
                             sensor="false"
                             zoom="12"
                             markers="{ color: 'red', label: '{{installation.name}} {{installation.placement}}', coords: ['{{installation.location.lat}}', '{{installation.location.lng}}'] }">
                </static-gmap>
            </div>
            <div class="col" style="margin-bottom: -4px; padding: 0px;">
                <ion-list style="padding-bottom: 10px;">
                    <ion-item style="border-style:none">
                        <a class="item-icon-left">
                            <i class="icon ion-ios7-person"></i>
                            {{installation.contact.name}}
                        </a>
                    </ion-item>
                    <ion-item style="border-style:none">
                        <a class="item-icon-left">
                            <i class="icon ion-home"
                               ng-click="navigateTo( '{{installation.location.lat}}' , '{{ installation.location.lng}}' )"></i>
                            {{installation.address}}
                        </a>
                    </ion-item>
                    <ion-item style="border-style:none">
                        <a class=" item-icon-left">
                            <i class="icon ion-iphone" ng-click="phoneTo('{{installation.contact.phone}}')"></i>
                            {{installation.contact.phone}}
                        </a>
                    </ion-item>
                    <ion-item style="border-style:none">
                        <a class="item-icon-left">
                            <i class="icon ion-ios7-email" ng-click="emailTo('{{installation.contact.email}}')"></i>
                            {{installation.contact.email}}
                        </a>
                    </ion-item>
                </ion-list>
            </div>
        </div>


        <ion-list>
            <ion-item ng-repeat="device in installation.devices"
                      ui-sref="app.device({ id: installation._id, deviceid: device._id })">
                <h3 style="color: #444;">{{device.name}} {{device.placement}}</h3>
                <h4 style="color: #444;">{{device.id}}</h4>
                <span class="badge badge-balanced">0</span>
                <ion-option-button class="button-calm" ng-click="update(device)">Update</ion-option-button>
                <ion-option-button class="button-balanced" ng-click="copy(device)">Copy</ion-option-button>
                <ion-option-button class="button-positive" ng-click="edit(device)">Edit</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="remove(device)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>