<ion-modal-view>

    <ion-header-bar class="bar bar-header bar-positive  bgc-indigo-500">

        <div class="buttons">
            <button class="button button-clear" ng-click="closeEditControl()">
                <i class="icon ion-ios-close-empty"></i>
            </button>
        </div>

        <h1 class="title">Edit control</h1>

        <div class="buttons">
            <button class="button button-clear"
                    ng-click="doneEditControl(control)">
                <i class="icon ion-ios-checkmark-empty"></i>
            </button>
        </div>

    </ion-header-bar>

    <ion-content class="bgc-grey-800">

        <form class="pl+ pr+">
            <lx-text-field label="Name" theme="dark">
                <input type="text" ng-model="control.name">
            </lx-text-field>

            <div ng-if="control.ctrlType !='timer'">
                <div class="mt+++">
                    <div flex-item>
                        <div class="radio-group tc-grey-600">
                            <div class="radio-button">
                                <input type="radio" id="radioA" name="radioX" value="moisture"
                                       class="radio-button__input"
                                       ng-model="control.unit.name">
                                <label for="radioA" class="radio-button__label">Moisture</label>
                            </div>
                            <div class="radio-button" theme="dark">
                                <input type="radio" id="radioB" name="radioX" value="raw" class="radio-button__input"
                                       ng-model="control.unit.name">
                                <label for="radioB" class="radio-button__label">Raw</label>
                            </div>
                        </div>
                    </div>
                </div>

                <lx-text-field label="Minimum critical value" theme="dark">
                    <input type="number" ng-model="control.minCritical">
                </lx-text-field>
                <lx-text-field label="Max critical value" theme="dark">
                    <input type="number" ng-model="control.maxCritical">
                </lx-text-field>
            </div>

            <div ng-if="control.ctrlType =='timer'">
                <ul>
                    <li class="list-row pr0 pl0">
                        <div class="list-row__content tc-grey-200">
                            <span class="display-block">Timers</span>
                        </div>

                        <div class="list-row__secondary tc-grey-100">
                            <button class="btn btn--l btn--icon">
                                <i class="mdi mdi-plus" ng-click="addTimer()"></i>
                            </button>
                        </div>
                    </li>

                    <li>
                        <div class="divider divider--light"></div>
                    </li>

                    <li class="list-row pr0 pl0" ng-repeat="timer in control.timers">

                        <div class="list-row__content tc-grey-200">
                            <div class="checkbox pl0">
                                <input type="checkbox" id="{{timer.name}}" class="checkbox__input"
                                       ng-model="timer.enabled">
                                <label for="{{timer.name}}" class="checkbox__label"> {{::timer.name}} </label>
                            </div>
                        </div>

                        <div class="list-row__secondary tc-grey-200">

                            <lx-dropdown position="right" from-top>
                                <button class="btn btn--l btn--icon" lx-ripple lx-dropdown-toggle>
                                    <i class="mdi mdi-dots-vertical"></i>
                                </button>
                                <lx-dropdown-menu>
                                    <ul>
                                        <li><a class="dropdown-link" ng-click="removeTimer(timer)">Remove</a></li>
                                        <li><a class="dropdown-link" ng-click="editTimer(timer)">Edit</a></li>
                                    </ul>
                                </lx-dropdown-menu>
                            </lx-dropdown>
                        </div>
                    </li>
                </ul>
            </div>
        </form>

    </ion-content>

</ion-modal-view>
