<div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-clear" ng-click="closeEditDevice()">Cancel</button>
        <h1 class="title">Edit device</h1>
        <button class="button button-clear button-clear"
                ng-disabled="!deviceValid()"
                ng-click="doneEditDevice(device)">Save</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="device.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Placement</span>
                <input type="text" placeholder="Placement" ng-model="device.placement">
            </label>
            <label class="item item-input">
                <span class="input-label">Interval</span>
                <input type="number" placeholder="Interval" ng-model="device.interval">
            </label>
            <label class="item item-input">
                <span class="input-label">Id</span>
                <input type="text" placeholder="Id" ng-model="device.id" disabled>
            </label>
            <label class="item item-input">
                <span class="input-label">PlanId</span>
                <input type="text" placeholder="Id" ng-model="device.planId" disabled>
            </label>
            <div ng-if="isIOS"
                 class="item item-button-right">
                BlinkUp new WiFi
                <button class="button button-positive" ng-click="blinkUpWiFi()">
                    <i class="icon ion-wifi"></i>
                </button>
            </div>

        </div>
    </ion-content>
</div>
