<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear" ng-click="closeEditDevice()">Cancel</button>
        <h1 class="title">Edit device</h1>
        <button class="button button-clear"
                ng-disabled="!deviceValid()"
                ng-click="doneEditDevice(device)">Save
        </button>
    </ion-header-bar>
    <ion-content class="bgc-grey-800">
        <!--div class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="device.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Placement</span>
                <input type="text" placeholder="Placement" ng-model="device.placement">
            </label>
            <label class="item item-input">
                <span class="input-label">Interval</span>
                <input type="number" placeholder="Interval" ng-model="device.interval">
            </label>
            <label class="item item-input">
                <span class="input-label">Id</span>
                <input type="text" placeholder="Id" ng-model="device.id" disabled>
            </label>
            <label class="item item-input">
                <span class="input-label">PlanId</span>
                <input type="text" placeholder="Id" ng-model="device.planId" disabled>
            </label>

            <div ng-if="isIOS"
                 class="item item-button-right">
                BlinkUp new WiFi - blessed device only
                <button class="button button-positive" ng-click="blinkUpWiFi()">
                    <i class="icon ion-wifi"></i>
                </button>
            </div>

        </div -->
        <form class="pl+ pr+">
            <lx-text-field label="Name" theme="dark">
                <input type="text" ng-model="device.name">
            </lx-text-field>
            <lx-text-field label="Placement" theme="dark">
                <input type="text" ng-model="device.placement">
            </lx-text-field>
            <lx-text-field label="Push Interval" theme="dark">
                <input type="text" ng-model="device.interval">
            </lx-text-field>
            <lx-text-field label="Id" disabled="true" theme="dark">
                <input type="text" ng-model="device.id" ng-disabled="true" class="bgc-grey-800">
            </lx-text-field>
            <lx-text-field label="Plan Id" disabled="true" theme="dark">
                <input type="text" ng-model="device.planId" ng-disabled="true" class="bgc-grey-800">
            </lx-text-field>
        </form>
    </ion-content>
</ion-modal-view>
