<ion-modal-view>

    <ion-header-bar class="bar bar-header bar-positive  bgc-indigo-500">

        <div class="buttons">
            <button class="btn btn--l btn--icon" ng-click="closeEditTimer()">
                <i class="mdi mdi-keyboard-backspace"></i>
            </button>
        </div>

        <h1 class="title">Edit timer</h1>

        <div class="buttons">
            <button class="btn btn--m btn--icon"
                    ng-click="doneEditTimer(timer)">
                <i class="mdi mdi-check"></i>
            </button>
        </div>

    </ion-header-bar>

    <ion-content class="bgc-grey-800">

        <form class="pl+ pr+">

            <lx-text-field label="Name" theme="dark">
                <input type="text" ng-model="timer.name">
            </lx-text-field>
            <lx-text-field label="Time" theme="dark">
                <input type="time" ng-model="timer.timerTime" min="00:00:00" max="23:59:00">
            </lx-text-field>

            <lx-text-field label="Duration" theme="dark">
                <input type="number" ng-model="timer.duration">
            </lx-text-field>
            <ul>
                <li class="list-row pr0 pl0">
                    <div class="list-row__content tc-grey-200">
                        <div class="checkbox pl0">
                            <input type="checkbox" id="timerX0" class="checkbox__input"
                                   ng-model="timer.days[0]">
                            <label for="timerX0" class="checkbox__label">Monday</label>
                        </div>
                        <div class="checkbox pl0">
                            <input type="checkbox" id="timerX1" class="checkbox__input"
                                   ng-model="timer.days[1]">
                            <label for="timerX1" class="checkbox__label">Tuesday</label>
                        </div>
                        <div class="checkbox pl0">
                            <input type="checkbox" id="timerX2" class="checkbox__input"
                                   ng-model="timer.days[2]">
                            <label for="timerX2" class="checkbox__label">Wedensday</label>
                        </div>
                        <div class="checkbox pl0">
                            <input type="checkbox" id="timerX3" class="checkbox__input"
                                   ng-model="timer.days[3]">
                            <label for="timerX3" class="checkbox__label">Thursday</label>
                        </div>
                        <div class="checkbox pl0">
                            <input type="checkbox" id="timerX4" class="checkbox__input"
                                   ng-model="timer.days[4]">
                            <label for="timerX4" class="checkbox__label">Friday</label>
                        </div>
                        <div class="checkbox pl0">
                            <input type="checkbox" id="timerX5" class="checkbox__input"
                                   ng-model="timer.days[5]">
                            <label for="timerX5" class="checkbox__label">Saturday</label>
                        </div>
                        <div class="checkbox pl0">
                            <input type="checkbox" id="timerX6" class="checkbox__input"
                                   ng-model="timer.days[6]">
                            <label for="timerX6" class="checkbox__label">Sunday</label>
                        </div>
                    </div>
                </li>
            </ul>

        </form>

    </ion-content>

</ion-modal-view>
