<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear" ng-click="closeNewDevice()">Cancel</button>
        <h1 class="title">New device</h1>
        <button class="button button-clear"
                ng-disabled="!newDeviceValid()"
                ng-click="doneNewDevice(newDevice)">Save</button>
    </ion-header-bar>
    <ion-content  class="bgc-grey-800">
        <!--div class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="newDevice.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Placement</span>
                <input type="text" placeholder="Placement" ng-model="newDevice.placement">
            </label>
            <label class="item item-input">
                <span class="input-label">Interval</span>
                <input type="number" placeholder="Interval" ng-model="newDevice.interval">
            </label>
            <div ng-if="isIOS"
                class="item item-button-right">
                BlinkUp - blessed device only !
                <button class="button button-positive" ng-click="blinkup()">
                    <i class="icon fa fa-barcode"></i>
                </button>
            </div-->
            <!--label ng-if="newDevice.id && isIOS" class="item item-input">
                <span class="input-label">Id</span>
                <input type="text" placeholder="Id" ng-model="newDevice.id" disabled>
            </label-->
            <!--label ng-if="newDevice.planId && isIOS" class="item item-input">
                <span class="input-label">Plan Id</span>
                <input type="text" placeholder="Plan" ng-model="newDevice.planId" disabled>
            </label>
            <label ng-if="isIOS" class="item item-input">
                <span class="input-label">Id</span>
                <input type="text" placeholder="Or enter Id manuallly here" ng-model="newDevice.id">
            </label>
            <label ng-if="!isIOS" class="item item-input">
                <span class="input-label">Id</span>
                <input type="text" placeholder="Id" ng-model="newDevice.id">
            </label>

        </div-->

        <form class="pl+ pr+">
            <lx-text-field label="Name" theme="dark">
                <input type="text" ng-model="newDevice.name">
            </lx-text-field>
            <lx-text-field label="Placement" theme="dark">
                <input type="text" ng-model="newDevice.placement">
            </lx-text-field>
            <lx-text-field label="Push Interval" theme="dark">
                <input type="text" ng-model="newDevice.interval">
            </lx-text-field>


            <!--div ng-if="isIOS"
                 class="item item-button-right">
                BlinkUp - blessed device only !
                <button class="button button-positive" ng-click="blinkup()">
                    <i class="icon fa fa-barcode"></i>
                </button>
            </div-->

            <lx-text-field ng-if="newDevice.planId && isIOS" label="Plan" disabled="true" theme="dark">
                <input type="text" ng-model="newDevice.planId" ng-disabled="true">
            </lx-text-field>
            <lx-text-field ng-if="newDevice.planId && isIOS" label="Plan" disabled="true" theme="dark">
                <input type="text" ng-model="newDevice.planId" ng-disabled="true">
            </lx-text-field>
            <lx-text-field ng-if="isIOS" label="Id" theme="dark">
                <input type="text" ng-model="newDevice.id">
            </lx-text-field>
            <lx-text-field ng-if="!isIOS" label="Id" theme="dark">
                <input type="text" ng-model="newDevice.id">
            </lx-text-field>
        </form>
    </ion-content>
</ion-modal-view>

