<div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-clear" ng-click="closeNew()">Cancel</button>
        <h1 class="title">New trigger</h1>
        <button class="button button-clear button-clear" ng-click="doneNew(newTrigger)">Save</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="newTrigger.name">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Sensor
                </div>
                <select ng-init="newTrigger.stream_id=device.controls[0].name" ng-model="newTrigger.stream_id" ng-options="c.name as c.name for c in device.controls">
                </select>
            </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Threshold</span>
                <input type="text" placeholder="Threshold" ng-model="newTrigger.threshold_value">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Evaluation
                </div>
                <select ng-init="newTrigger.trigger_type='lt'" ng-model="newTrigger.trigger_type">
                    <option selected>lt</option>
                    <option>lte</option>
                    <option>gt</option>
                    <option>gte</option>
                    <option>eq</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Resolution
                </div>
                <select ng-init="newTrigger.resolution='min'" ng-model="newTrigger.resolution">
                    <option selected>sec</option>
                    <option>min</option>
                    <option>hour</option>
                    <option>day</option>

                </select>
            </label>
        </div>
    </ion-content>
</div>
