<div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-clear" ng-click="closeNewDevice()">Cancel</button>
        <h1 class="title">New device</h1>
        <button class="button button-clear button-clear" ng-click="doneNewDevice(newDevice)">Save</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="newDevice.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Placement</span>
                <input type="text" placeholder="Placement" ng-model="newDevice.placement">
            </label>
            <div ng-if="isIOS"
                class="item item-button-right">
                BlinkUp
                <button class="button button-positive" ng-click="blinkup(newDevice)">
                    <i class="icon fa fa-barcode"></i>
                </button>
            </div>
            <label class="item item-input">
                <span class="input-label">Id</span>
                <input type="text" placeholder="Id" ng-model="newDevice.id">
            </label>
            <label class="item item-input">
                <span class="input-label">Interval</span>
                <input type="number" placeholder="Interval" ng-model="newDevice.interval">
            </label>
        </div>
    </ion-content>
</div>
