<!--ion-view ng-if="!backNav" title="" hide-nav-bar="true"-->
<ion-view>

    <div class="bar bar-header" style="border-bottom-width: 0;background-size: 100% 0;">

        <div class="buttons left-buttons">
            <button class="button button-icon button-clear button-dark ion-back"></button>
        </div>

        <div class="buttons left-buttons">
            <button menu-toggle="left" class="button button-icon button-clear button-dark ion-navicon"></button>
        </div>

        <!--label style="width:100%">
            <div class="item item-input"
                 style="color: rgba(255, 255, 255, 0.9);background-color: transparent;border-width: 0;width: 100%;display: inline-block;text-align: center;padding-left: 0;">
                {{installation.name + ' ' + installation.placement}}
            </div>
            <select style="font-size: 20px;opacity: 0;width: 50%;position: absolute;right: 100px;top: 10px;"
                    ng-options="t.placement group by t.name for t in installations"
                    ng-model="installation"
                    ng-change="selectInstallation(installation)">
            </select>
        </label-->
        <!--label style="width:100%">
            <div class="item item-input"
                 style="color: rgba(255, 255, 255, 0.9);background-color: transparent;border-width: 0;width: 100%;display: inline-block;text-align: center;padding-left: 0;">
                {{installation.name + ' ' + installation.placement}}
            </div>
            <select style="font-size: 20px;opacity: 0;width: 50%;position: absolute;right: 100px;top: 10px;"
                    ng-options="t.placement group by t.name for t in installations"
                    ng-model="installation"
                    ng-change="selectInstallation(installation)">
            </select>
        </label-->
    </div>

    <ion-content class="has-header" style="padding:0;margin-top: 0;">
        <div id="reading-content">
            <box></box>
        </div>
    </ion-content>

</ion-view>