<ion-side-menus>

    <fade-bar></fade-bar>

    <ion-side-menu-content>
        <ion-nav-view name="menuContent" animation="slide-left-right-ios7"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <ion-item style="padding-left: 0px;padding-bottom: 0px;">
                    <a style="border-width:0px;" class="item item-avatar">
                        <img src='{{profile.picture}}'>
                        <h2>{{profile.name}}</h2>
                        <p></p>
                    </a>
                </ion-item>
                <ion-item nav-clear item-icon-left menu-close ui-sref='app.installations'>
                    <i class="icon ion-cube"></i>
                    Installations
                </ion-item>
                <ion-item nav-clear item-icon-left menu-close ui-sref='app.map'>
                    <i class="icon ion-ios7-world"></i>
                    Map
                </ion-item>
                <ion-item nav-clear item-icon-left menu-close ui-sref='app.settings'>
                    <i class="icon ion-gear-b"></i>
                    Settings
                </ion-item>
                <ion-item nav-clear item-icon-leftmenu-close ng-click="signout()">
                    <i class="icon ion-power"></i>
                    Sign out
                </ion-item>
            </ion-list>
        </ion-content>

        <ion-footer-bar class="bar-clear">
            <p style="color: #A2D3FF;">&nbsp;&nbsp; &copy; bobbytechnologies.dk </p>
        </ion-footer-bar>
    </ion-side-menu>

</ion-side-menus>