<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" ng-click="setMapStyle('default')">
                Google map
            </a>
            <a class="item" ng-click="setMapStyle('ios')">
                Apple map
            </a>
            <a class="item" ng-click="setMapStyle('grey')">
                Grey
            </a>
            <a class="item" ng-click="setMapStyle('GreyBlue')">
                Grey Blue
            </a>
        </div>
    </ion-content>
</ion-popover-view>