<ion-view title="Settings" hide-back-button="true">

    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" ng-click="saveSettings()">Save</button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list">
            <a class="item item-button-right">
                Use celcious
                <div class="button-bar">
                <i class="button button-clear" ng-class="{'button-balanced': settings.tempUnits=='c'}"
                   ng-click="settings.tempUnits='f'">&deg;C
                </i>
               <i class="button button-clear" ng-class="{'button-balanced': settings.tempUnits=='f'}"
                   ng-click="settings.tempUnits='f'">&deg;F
               </i>
               </div>
            </a>
        <!--div class="list">
             <div class="item item-button-right">
                Use celcius
                <a class="button button-clear" ng-class="{'button-balanced': settings.tempUnits=='c'}"
                   ng-click="settings.tempUnits='f'">&deg;C
                </a>
            </div>
            <div class="item item-button-right">
                Use Fahrenheit
                <a class="button button-clear" ng-class="{'button-balanced': settings.tempUnits=='f'}"
                   ng-click="settings.tempUnits='f'">&deg;F</a>
            </div>
        </div-->
    </ion-content>
</ion-view>