<ion-view title="Settings" hide-back-button="true">

    <ion-nav-bar class="nav-title-slide-ios7 bar-stable">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button icon button-clear ion-navicon"></button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content>
        <div class="list">
            <div class="item item-button-right">
                Temp units
                <button ng-click="settings.tempUnits=='F' ? settings.tempUnits='C' : settings.tempUnits='F'"
                        class="button button-clear button-balanced"
                        ng-model=settings.tempUnits>°{{settings.tempUnits}}
                </button>
            </div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Map style
                </div>
                <select ng-model="settings.mapStyle">
                    <option>Google map</option>
                    <option>Apple map</option>
                    <option>Custom grey</option>
                    <option>Custom grey blue</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Start at
                </div>
                <select ng-model="settings.startAt">
                    <option>Installations</option>
                    <option>Map</option>
                </select>
            </label>
        </div>
    </ion-content>
</ion-view>