<ion-popover-view style="height:58px;">
    <ion-content scroll="false">
        <div class="list">
            <div class="item item-input item-button-right">
                <span class="input-label">Duration</span>
                <input type="time" step="1" ng-model="duration">
                <button class="button button-positive" ng-click="setTimer(duration)">
                    <i class="icon ion-play"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-popover-view>