<ion-view title="{{trigger.name}}">
    <ion-content class="has-header">

        <div class="row responsive-sm" style="padding: 0px;">
            <div class="col" style="margin-bottom: 20px; padding: 0px;">
                <ion-list style="padding-bottom: 10px;">
                    <ion-item style="border-style:none">
                        <a class="item-icon-left">
                            <i class="icon ion-ios7-pricetag" style="color:#4a87ee"></i>
                            {{trigger.name}}
                        </a>
                    </ion-item>
                    <ion-item style="border-style:none">
                        <a class="item-icon-left">
                            <i class="icon ion-android-alarm" style="color:#ef4e3a"></i>
                            {{trigger.stream_id}} {{trigger.trigger_type}} {{trigger.threshold_value}} /
                            {{trigger.resolution}}
                        </a>
                    </ion-item>
                </ion-list>
            </div>
        </div>


        <ion-list>
            <ion-item class="item-icon-right item-divider">
                Requests
                <i class="icon ion-ios7-plus-empty" ng-click="addRequest()"></i>
            </ion-item>

            <ion-item ng-repeat="request in trigger.requests">
                {{request.name}}
                <ion-option-button class="button-calm" ng-click="sendRequest(request.request_options)">Test</ion-option-button>
                <ion-option-button class="button-balanced" ng-click="copy(request)">Copy</ion-option-button>
                <ion-option-button class="button-positive" ng-click="edit(request)">Edit</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="remove(request)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>