<ion-view title="{{trigger.name}}">

    <ion-nav-bar class="nav-title-slide-ios7 bar-light">

        <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
        </ion-nav-buttons>

    </ion-nav-bar>


    <ion-content>

        <div class="row responsive-sm" style="padding: 0px;">
            <div class="col" style="margin-bottom: 20px; padding: 0px;">
                <ion-list style="padding-bottom: 10px;">
                    <ion-item style="border-style:none">
                        <a class="item-icon-left">
                            <i ng-show="myControl.ctrlType=='data'" class="icon ion-speedometer"
                               style="color:#4a87ee"></i>
                            <i ng-show="myControl.ctrlType=='status'" class="icon ion-ios7-gear"
                               style="color:#4a87ee"></i>
                            {{myControl.name}}
                        </a>
                    </ion-item>
                    <ion-item style="border-style:none">
                        <a class="item-icon-left">
                            <i class="icon ion-android-alarm" style="color:#ef4e3a; font-size: 24px;"></i>
                            {{trigger.name}} {{trigger.trigger_type | logicalop }} {{trigger.threshold_value}} /
                            {{trigger.resolution}}
                        </a>
                    </ion-item>
                </ion-list>
            </div>
        </div>


        <ion-list>
            <ion-item class="item-icon-right item-divider">
                Requests
                <i class="icon ion-ios7-plus-empty" ng-click="addRequest()"></i>
            </ion-item>

            <ion-item ng-repeat="request in trigger.requests">
                {{request.name}}
                <ion-option-button class="button-calm" ng-click="sendRequest(request.request_options)">Test
                </ion-option-button>
                <ion-option-button class="button-balanced" ng-click="copy(request)">Copy</ion-option-button>
                <ion-option-button class="button-positive" ng-click="edit(request)">Edit</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="remove(request)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>