<ion-view title="Trigger">
    <ion-content class="has-header">
        <a class="item">
            Name
                <span class="item-note">
                   {{trigger.name}}
                </span>
        </a>
        <a class="item">
            Stream
                <span class="item-note">
                   {{trigger.stream_id}}
                </span>
        </a>
        <a class="item">
            Type
                <span class="item-note">
                   {{trigger.trigger_type}}
                </span>
        </a>
        <a class="item">
            Threshold value
                <span class="item-note">
                   {{trigger.threshold_value}}
                </span>
        </a>
        <a class="item">
            Resolution
                <span class="item-note">
                   {{trigger.resolution}}
                </span>
        </a>

        <div class="item item-icon-right item-divider">
            Requests
            <i class="icon ion-ios7-plus-empty" ng-click="newRequest()"></i>
        </div>

        <a class="item" ng-repeat="request in trigger.request">
            Request
                <span class="item-note">
                   {{request.name}}
                </span>
        </a>
    </ion-content>
</ion-view>